@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body {
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pricing-table {
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.col {
  box-sizing: border-box;
  flex: 25%;
  max-width: 320px;
  padding: 10px;
}

.table {
  background: white;
  padding: 40px 20px;
  font-family: "Indie Flower", cursive;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #00000070;
}

.table h2 {
  text-transform: uppercase;
}

.table ul {
  margin: 0;
  padding: 0;
}

.table ul li {
  list-style: none;
  padding: 10px 0;
}

.price {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.price span {
  display: block;
  font-size: 1rem;
}

.table a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2c3e50;
  display: block;
  font-size: 1rem;
  border: 2px solid blue;
  border-radius: 40px;
  padding: 10px 0;
  margin: 10px 0;
  transition: 0.5s linear;
}

.table a:hover {
  background: #2c3e50;
  color: white;
}

.pop {
  background: #2c3e50;
  color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  right: -34px;
  padding: 10px 40px;
}

@media screen and (max-width: 980px) {
  .col {
    flex: 50%;
  }
}

@media screen and (max-width: 700px) {
  .col {
    flex: 100%;
  }
}
